# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Environments
.env
.venv/
env/
venv/

# PySpark & Delta Lake local storage
data_lake/
metastore_db/
derby.log
spark-warehouse/

# IDE
.idea/
.vscode/
*.swp

# Testing
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
